
.service .rounded-circle{
    border:2px solid #84c52b;
    width: 100px;
    height:100px ;
    background-color:#e3f3cf;
}
.service .rounded-circle img{
    width: 50px;
}
.service h2{
    color:#27303f;
    font-size: 0.8rem;
}
.service p{
    font-size: 0.6rem;
    color: #a7a7a7;
}

.service button{
    font-size: 0.7rem;
    color:#fff;
    background-color:#04121d ;

}
.service:hover button{
    color:#fff;
    background-color:#345507 ;
}
