
.service .rounded-circle{
    border:2px solid #fff ;
    width: 100px;
    height:100px ;
    background-color:#fafafa ;
    transition:all 0.3s !important;
}
.service .rounded-circle img{
    width: 50px;
}
.service h2{
    color:#27303f;
    font-size: 0.8rem;
}
.service p{
    font-size: 0.6rem;
    color: #a7a7a7;
}

.service button{
    font-size: 0.7rem;
    color:#fff;
    background: linear-gradient(45deg,#011422,#254f6d);
    transition:all 0.3s !important;

}

.service:hover button{
    color:#fff;
    background: linear-gradient(45deg,#4b4f5b,#afb2bb);
    border:1px solid #fff;
}
.service:hover .rounded-circle{
    border:2px solid #f0f0f0 ;
}
