.productitem{
    overflow: hidden;
    border: 1px solid #2b376f ;
}
.productitem div{
    bottom: -40px;
    height: 40px;
    background-color: rgba(43,55,111,0.5);
    transition: all 1s;
}
.productitem:hover div{
    bottom: 0px;
}
.productitem div h3{
    font-size: 0.9rem;
}