.nav-item:hover{
    background-color: #e7e0d8;
}
.nav-item:hover a{
    color: #000000 !important;
}
.nav-item a {
    color: #f3efef !important;
    font-size: 0.8rem;
}
.navbar-brand{
    font-size: 1.5rem;
    color: #e5e5e5 !important;
}